#button {
  padding: 7px;
}

main {
  width: 100%;
}

.box1 {
  margin-left: 5px;
}

aside {
  margin-left: 5px;
  margin-right: 5px;
}

.input {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.Qarea {
  padding-bottom: 400px;
}
